[Desktop Entry]
Name=Astah* Community
Comment=Lightweight, easy-to-use UML 2.x modeler
Comment[ja]=UMLの学習に最適な個人向けツールです
Comment[pl]=Narzędzie do modelowania UML
GenericName=UML Modeling Tool
Exec=astah-community
Icon=astah-community
NoDisplay=false
Terminal=false
Type=Application
Categories=Development;ProjectManagement;
MimeType=application/x-astah;
