[Desktop Entry]
Name=Astah*
GenericName=UML Modeling Tool
GenericName[pl]=Narzędzie do modelowania UML
Comment=Astah*
Icon=astah
Exec=astah
Terminal=false
MultipleArgs=false
Type=Application
Categories=Development;ProjectManagement;
MimeType=application/x-astah;
# vi: encoding=utf-8
